* {
  box-sizing: border-box;
  margin: 0;
  
}

.App {
  text-align: center;
  margin: 0;
}

.navbar {
  background-color: #F55A5A;
  width: 100%;
  padding: 0.8rem;
  color: white;
  margin-bottom: 2rem;
}

.navbar-title {
  margin: 0.5rem;
  font-weight: 700;
}

.main-card {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  align-items: center;
}

.inner-card {
  display: flex;
  margin-bottom: 1rem;
}

.inner-card img {
  width: 23rem;
  height: 15rem;
  border-radius: 9px;
}

section {
  text-align: left;
  padding: 2rem;
  max-width: 50rem;
  margin: auto;
}

.google-map {
  margin: 5px;
  padding: 5px;
  font-size: small;
  color: #918E9B;
}

section h1 {
  margin-bottom: 1rem;
}

section h5 {
  padding-bottom: 5px;
}

.fa-location-dot {
  font-size: small;
  padding-right: 5px;
  color: #F55A5A;
}